<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<ul class="nav navbar-nav">
             <li><a href="/questions">All Questions</a></li>
            {{#if currentUser}}
              <li><a href="/users/logout">Logout {{currentUser.local.email}}</a></li>
            {{else}}
              <li><a href="/users/login">Login</a></li>
              <li><a href="/users/signup">Signup</a></li>
            {{/if}}
          </ul>
<p>hello: {{currentUser.local.email}}</p>


    {{{body}}}
</body>
</html>