<h1>All Questions</h1>

<ul>
    {{#each questions}}
    <li>
        <a href = '/questions/{{this.id}}'>{{this.title}}</a>
        <ul>
            <li>
                {{this.description}}
            </li>
            <li>
                {{this.date}}
            </li>
        </ul>
    </li>
    {{/each}}
</ul>