<h1>Post new question</h1>

<form action= "/questions" method="POST">
<p>

  <label for = "title">Title</label>
  <input type = "text" name= "title">
</p>

<p>

  <label for = "description">description</label>
  <input type = "text" name= "description">
</p>

<input type="submit" value="create">

</form>